/* Navigation Styles */
.topnav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
    position: fixed;
    width: 96%;
    z-index: 1000;
}

.right {
    display: flex;
    gap: 20px;
    align-items: center;
}

.btn {
    background-color: #fea500;
    color: white;
    padding: 8px 24px;
    border-radius: 24px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #ffb937;
}