@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root {
  --phi: 1.618;
  --font-xs: 0.875rem;                           
  --font-sm: 1rem;                               
  --font-md: calc(var(--font-sm) * var(--phi));  
  --font-lg: calc(var(--font-md) * var(--phi));  
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #EDF3FB;
    color: #000000;
    padding-top: 80px;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

/*Navbar*/

.topnav {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.right {
    display: flex;
    gap: 24px;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 10px;
}

.logo span {
    font-size: calc(var(--font-md) * 0.9);
    font-weight: 700;
    color: #333;
}

.right a {
    font-weight: 500;
}

.btn {
    background-color: #fea500;
    color: #ffffff;
    padding: 10px 24px;
    border-radius: 24px;
}

.btn:hover {
    background-color: #ffb937;
}


/* Hero Section */

.hero-container {
    position: relative;
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 25vh 10vw;   
    overflow: hidden;
}

/* Needed in order for flip */
.hero-container::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image:
        linear-gradient(
            rgba(30, 144, 255, 0.20),
            rgba(30, 144, 255, 0.20)
        ),
        url('../images/index/index_img_1.jpg');
    background-size: cover;
    background-position: center 70%;
    transform: scaleX(-1);
    transform-origin: center;
    z-index: 0;
}

.hero-text {
    position: relative;
    z-index: 1;
    max-width: 620px;
    color: #ffffff;
}

.hero-text h1 {
    font-size: var(--font-lg);
    font-weight: 700;
    margin-bottom: 18px;
}

.hero-text p {
    font-size: var(--font-sm);
    line-height: 1.7;
    margin-bottom: 26px;
    color: #f4f4f4;
    max-width: 38ch; 
}

.hero-text .btn {
    font-size: var(--font-sm);
    padding: 12px 32px;
    border-radius: 30px;
}

.hero-icon {
    position: absolute;
    bottom: 10px;
    right: 30px;
    z-index: 1; 
}

.hero-icon img {
    width: 56px;
    height: 56px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .hero-container {
        justify-content: center;
        padding: 8vh 6vw;
    }

    .hero-text {
        text-align: center;
    }

    .hero-text p {
        margin-left: auto;
        margin-right: auto;
    }
}

/*Stats Section*/

.statistics {
    padding: 12vh 40px;
    background-image:
      linear-gradient(
        rgba(15, 42, 71, 0.95) 0%,
        rgba(15, 42, 71, 0.70) 20%,
        rgba(15, 42, 71, 0.40) 50%,
        rgba(223, 243, 252, 0.30) 80%,
        rgba(223, 243, 252, 1) 100%
      ),
      url('../images/index/index_img_3.jpg');
    background-size: cover, cover;
    background-position: center, center;
    background-attachment: scroll, fixed;
    background-repeat: no-repeat;
    position: relative;
}

.statistics::before {
    content: '';
    position: absolute;
    inset: 0px;
    background: rgba(10, 45, 90, 0.55);
    z-index: 1;
}

.statistics h2 {
    position: relative;
    z-index: 2;
    text-align: center;
    font-size: var(--font-lg); 
    color: #ffffff;
    margin-bottom: 50px;
}

.stats-container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    gap: 30px;
    max-width: 1100px;
    margin: 0 auto;

    /* Allow wrapping on smaller screens */
    flex-wrap: wrap;
}

.stat-card {
    background-color: white;
    padding: 32px 28px;
    border-radius: 16px;
    text-align: center;
    min-width: 260px;
    max-width: 320px;
}

.stat-card .percentage {
    font-size: var(--font-lg);
    font-weight: 700;
    color: #fea500;
    margin-bottom: 16px;
}

.stat-card p {
    color: #000000;
    font-size: var(--font-sm);
    line-height: 1.7;
}

/* About Us */

.about-us {
    padding: 80px 40px;
}

.about-us h2 {
    text-align: center;
    font-size: var(--font-lg);
    font-weight: 700;
    margin-bottom: 40px;
}

.about-content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
    align-items: center;
}

.about-image {
    display: flex;   
    flex-direction: row;
    gap: 16px;
}

.about-image img {
    border-radius: 15px;
    width: 300px;               
    height: 50vh;
    object-fit: cover;
}

.about-text h3 {
    font-size: var(--font-md);
    color: #1E90FF;
    margin-bottom: 20px;
}

.about-text p {
    font-size: var(--font-sm);
    line-height: 1.7;
    color: #444;
    margin-bottom: 16px;
}

/* Responsive Styles */
@media (max-width: 650px) {
    .about-image {
    flex-direction: column;
    }
}
@media (max-width: 1024px) {
    .about-content {
        flex-direction: column;
    }
}

/*Testimonials*/

.testimonials {
    padding: 80px 40px;
    background-color: white;
}

.testimonials h2 {
    text-align: center;
    font-size: var(--font-lg);
    margin-bottom: 50px;
    font-weight: 700;
    color:#1E90FF
}

.testimonials-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.testimonial-card {
    background-color: #1E90FF;
    padding: 32px 24px;
    border-radius: 15px;
    text-align: center;
    min-width: 260px;
    max-width: 420px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 16px;
}

.testimonial-card h3 {
    font-size: var(--font-sm);
    margin-bottom: 12px;
    color: white;
}

.testimonial-card p {
    font-size: var(--font-sm);
    line-height: 1.7;
    color: #ffffff;
}

/* CTA Section */
.inner-self {
    min-height: 90vh;          
    padding: 10vh 40px;       
    background-image:
    linear-gradient(
        rgba(30, 144, 255, 0.2),
        rgba(30, 144, 255, 0.2)
    ),
     url('../images/index/index_img_4.jpg');
    background-size: cover;
    background-position: center 100%;
    background-attachment: fixed;
    position: relative;
    display: flex;
    align-items: center;
}

.inner-self::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.inner-self-content {
    position: relative;
    z-index: 2;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.inner-self h2 {
    font-size: var(--font-lg); 
    margin-bottom: 20px;
}

.inner-self p {
    font-size: var(--font-sm);
    line-height: 1.7;
    margin-bottom: 30px;
}

.inner-self .btn {
    font-size: var(--font-sm);
    padding: 12px 32px;
}

/* Footer */
.home-footer {
    background-color: #1E90FF;
    padding: 24px 40px;
    color: white;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.footer-content p {
    font-size: var(--font-sm); 
}
.footer-content a {
    color: white;
    text-decoration: none;
}


@media (max-width: 768px) {
    .topnav {
        padding: 14px 18px;
    }
    .right {
        gap: 14px;
    }
    .hero-container,
    .statistics,
    .inner-self {
        background-attachment: scroll;
        min-height: 70vh;
    }
    .statistics,
    .about-us,
    .testimonials,
    .inner-self {
        padding: 60px 20px;
    }
}



